#button {
    padding: 10px;
    margin: 0;
    background-color: #2175bc;
}

#button li {
    display: inline;
}

#button li a {
    text-decoration: none;
    padding: 10px;
    background-color: #2175bc;
    color: #fff;
}

#button li a:hover {
    background-color: #2586d7;
    margin-top: -2;
    padding-bottom: 12px;
}
